button {
    border: none;
    outline: none;
    background: transparent;
}

.desktop-menu {
    width: 100%;
    height: 80px;
    z-index: 10;

    ul {
        margin: 0;
    }

    li {
        list-style: none;
    }

    .desktop-menu-container {
        display: grid;
        grid-template-columns: min-content auto;
        width: 1200px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        justify-content: space-between;
    }

    .pages {
        display: flex;
        margin: 0;

        li {
            margin: 0 10px 0 0;
            align-self: center;

            &::after {
                content: '';
                display: block;
                height: 1px;
                background: #333333;
                transform: scaleX(0);
                transition: transform .36s cubic-bezier(.57,.01,.29,.99);
                transform-origin: right;            
            }

            &:hover::after {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    .logo {
        position: absolute;
        justify-self: center;
        align-self: center;

        img {
            height: 70px;
            margin: 0;
        }
    }

    .contacts {
        
        .bag-item {

            li {
                margin: 0;
            }
        }

        &::before {
            position: relative;
            content: "";
            display: block;
            top: 10px;
            left: 10px;
            height: 25px;
            width: 25px;
            background: white;
            border-radius: 50%;
        }
    }

    .bag-item {
        height: 25px;
        margin: 0;
        position: relative;
    }

    .cart-quantity {
        color: orange;
        font-weight: 400;
        position: absolute;
        top: -14px;
        right: -5px;
    }
}

/* MOBILE */

.mobile-menu {
    display: none;
    z-index: 10;
}

.mobile-menu-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2b2b2b67;
    z-index: 20;
    transition: all ease 1s;
}

.mobile-menu-background {
    position: fixed;
    background: #ffffff;
    top: 5%;
    padding: 10vh 0;
    text-align: center;
    overflow-y: scroll;
    z-index: 20;

    .close {
        position: absolute;
        left: 20px;
        top: 20px;
        height: 35px;
    }

    .logo {

        img {
            margin-bottom: 20px;
        }           
    }

    .item {
        color: #333333;
        text-transform: uppercase;
        font-size: 18px;
        display: block;
        width: max-content;
        margin: 0 auto 10px;
    }

    .sub-item {
        color: #898787;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        width: max-content;
        margin: auto;
        margin: 0 auto 7px;
    }
}

@media screen and (max-width: 1100px) {
    
    .container {
        padding: 0 20px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        position: absolute;
        display: flex;
        top: 20px;
        left: 5%;
        right: 5%;
        height: 50px;
        justify-content: space-between;
    }

    .hamburger img {
        height: 50px;
    }
}
