button {
    border: none;
    outline: none;
    background: transparent;
}

.desktop-menu {
    width: 100%;
    height: 80px;
    z-index: 10;

    ul {
        margin: 0;
    }

    li {
        list-style: none;
    }

    .desktop-menu-container {
        display: grid;
        grid-template-columns: min-content auto;
        max-width: 1200px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
        align-content: center;
        justify-content: space-between;
    }

    .pages {
        display: flex;
        margin: 0;

        li {
            margin: 0 10px 0 0;
            align-self: center;

            .link-styles {
                color: #1d1d1d;
                text-decoration: none;

                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    background: #333333;
                    transform: scaleX(0);
                    transition: transform .36s cubic-bezier(.57,.01,.29,.99);
                    transform-origin: right;            
                }
    
                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }

            .active-styles {
                color: #959494;
                cursor: default;

                &::after {
                    content: '';
                    display: block;
                    height: 1px;
                    background: #959494;   
                    transform: scaleX(1);      
                }
            }
        }
    }

    .logo {
        position: absolute;
        justify-self: center;
        align-self: center;

        img {
            height: 70px;
            margin: 0;
        }
    }

    .contacts {
        
        .cart {
            display: flex;
            position: relative;
            margin: 0;

            img {
                margin: 0;
                width: 30px;
            }
        }

        .cart-quantity-backgroung {
            position: absolute;
            top: -16px;
            left: 10px;
            height: 27px;
            width: 27px;
            background: white;
            border-radius: 50%;
            z-index: 1;
        }

        .cart-quantity {
            position: absolute;
            width: 27px;
            top: -15px;
            right: -7px;
            text-align: center;
            color: orange;
            font-weight: 400;
            z-index: 2;
        }
    }
}

/* MOBILE */

.mobile-menu {
    display: none;
    z-index: 10;
    
    a {
        height: 50px;
        align-self: center;
    }

    .logo-mobile {
        height: 50px;
        margin: 0;
    }

    .cart-mobile-menu {
        position: relative;

        .cart-mobile {
            position: relative;
            top: 10px;
            height: 40px;
            margin: 0;
        }

        .cart-quantity-backgroung {
            position: absolute;
            top: 3px;
            left: 16px;
            height: 27px;
            width: 27px;
            background: white;
            border-radius: 50%;
            z-index: 1;
        }

        .cart-quantity {
            position: absolute;
            width: 20px;
            top: 4px;
            right: -10px;
            text-align: center;
            color: orange;
            font-weight: 400;
            z-index: 2;
        }
    }

    .hamburger {
        height: 50px;
        margin: 0;
    }
}

.mobile-menu-shadow {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2b2b2b67;
    z-index: 20;
    transition: all ease 1s;
}

.mobile-menu-background {
    position: fixed;
    background: #ffffff;
    top: 5%;
    padding: 10vh 0;
    text-align: center;
    overflow-y: scroll;
    z-index: 20;

    .close {
        position: absolute;
        left: 20px;
        top: 20px;
        height: 35px;
    }

    .logo {

        img {
            margin-bottom: 20px;
            height: 70px;
        }           
    }

    .item {
        color: #333333;
        text-transform: uppercase;
        font-size: 18px;
        display: block;
        width: max-content;
        margin: 0 auto 10px;
    }

    .sub-item {
        color: #898787;
        text-transform: uppercase;
        font-size: 16px;
        display: block;
        width: max-content;
        margin: auto;
        margin: 0 auto 7px;
    }
}

@media screen and (max-width: 1024px) {

    .desktop-menu {
        height: 60px;
    
        .desktop-menu-container {
            height: 100%;
        }
    
        .logo {
    
            img {
                height: 50px;
            }
        }

        .contacts {
        
            .cart {
                display: flex;
                position: relative;
                margin: 0;
    
                img {
                    margin: 0;
                    width: 24px;
                }
            }
    
            .cart-quantity-backgroung {
                top: -10px;
                left: 12px;
                height: 24px;
                width: 24px;
            }
    
            .cart-quantity {
                width: 25px;
                top: -11px;
                right: -13px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    
    .container {
        padding: 0 20px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        position: fixed;
        display: flex;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        justify-content: space-between;
        background: #ffa808;
    }

    .hamburger img {
        height: 50px;
    }
}
