.review-dots {
    top: 30px !important;
    /* position: static !important;
    margin-top: 30px !important; */
}

.review-dot {
    fill: #e35400 !important;
    height: 18px;

    .paging-dot {
        height: 12px;
        width: 12px;
    }
}

/* .dot[aria-selected="true"] {
    border: 1px solid #e35400 !important;
    border-radius: 50%;
} */