.h1 {
    margin-top: 120px;
}

.container {
    max-width: 1200px;
    margin: auto;
    position: relative;
    margin-bottom: 50px;
}

.cart-contents {
    width: 80%;
    margin: 0 auto 20px;
    height: fit-content;
    padding: 10px 20px 1px;
    background: white;

    ul {
        margin: 0;
    }

    li {
        list-style: none;
        margin-bottom: 0;
        padding-bottom: 5px;
    }
}

.product-info {
    display: grid;
    grid-template-columns: 50% 10% 7% 3% 10% 2% 10% 8%;
    text-align: center;

    .product-name {
        text-align: left;
        padding-left: 10px;
    }

    .quantity-control {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .add, .extract {
        height: 15px;
        width: 15px;
        line-height: 14px;
        border-radius: 5px;
        padding: 0;
        cursor: pointer;
    }

    .add {
        color: #008000;
        border: 1px solid #008000;
        background: #c9ffc9;     
    }

    .extract {
        color: #ff0000;
        border: 1px solid #ff0000;
        background: #ffe0e0;     
    }
}

.product-info:nth-child(even) {
    background: #efefef;
}

.product-cost {
    display: grid;
    grid-template-columns: 82% 10% 8%;
    font-weight: 600;

    .total-cost-title {
        padding-left: 10px;
    }

    .total-cost-sum {
        text-align: center;
    }
}

.empty-cart {
    width: fit-content;
    margin: auto;

    a {
        color: #ffffff;
    }
}

@media screen and (max-width: 1024px) {

    .cart-contents {
        width: 90%;
    }
    
    .product-info {
        grid-template-columns: 1fr 10% 5% 3% 10% 2% minmax(72px, 10%) minmax(60px, 8%);
    
        .quantity-control {
            justify-content: space-between;
            align-items: center;
            padding: 3px 7px 0;
        }
    
        .add, .extract {
            height: 20px;
            width: 20px;
        }
    }
}

@media screen and (max-width: 768px) {

    .cart-contents {
        width: 95%;
        padding: 10px 0 1px;
    }
    
    .product-info {
        grid-template-columns: 1fr 10% 5% 3% minmax(62px, 10%) 2% minmax(72px, 10%) minmax(60px, 8%);

        .product-name {
            padding: 0 1vw;
        }
    
        .quantity-control {
            align-items: baseline;
            padding-left: 7px;
            padding: 3px 1vw 0 7px;
        }
    
        .add, .extract {
            height: 20px;
            width: 20px;
        }
    }

    .product-cost {
        grid-template-columns: 1fr minmax(72px, 10%) minmax(60px, 8%);
    }
}

@media screen and (max-width: 500px) {

    .product-info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .product-name {
            width: 100%;
        }

        .quantity-control {
            width: 65px;
        }
    }

    .product-info span:nth-child(2) {
        margin-left: 30px;
    }

    .product-cost {
        grid-template-columns: 59% 26% 15%;
    }
}