.h1 {
    margin-top: 80px;
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;
}

.menuContainer {
    display: grid;
    grid-template-columns: 70% 30%;
}

.products {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    h3, h4 {
        margin: 0;
    }
}

.product-image {
    width: 80%;
    position: relative;
    cursor: pointer;

    .bag-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 5px 0;
        opacity: 0;
        transition: all ease 0.5s;
        cursor: pointer;

        img {
            height: 40px;
        }
    }
}

.product-image:hover {

    .bag-background {
        opacity: 1;
        transition: all ease 0.5s;
    }
}

.info {
    position: sticky;
    top: 70px;
    height: 500px;
    padding: 0 20px;
    background: white;

    ul {
        margin: 0 0 10px 10px;
    }

    li {
        list-style: none;
    }

    .quantity-control {
        margin-left: 10px;
    }

    .add, .extract {
        height: 15px;
        width: 15px;
        line-height: 14px;
        border-radius: 5px;
    }

    .add {
        color: #008000;
        border: 1px solid #008000;
        background: #c9ffc9;     
    }

    .extract {
        color: #ff0000;
        border: 1px solid #ff0000;
        background: #ffe0e0;     
    }
}

.cart-list {

    .add, .extract {
        padding: 0;
        cursor: pointer;
    }
    .add {
        margin-right: 3px;
    }

    .extract {
        margin-left: 3px;
    }
}
