.main-page-wrapper {
    background-color: white;
}

h1 {
    margin-top: 80px;
}

h2 {
    width: fit-content;
    margin: 10px auto 40px;
    text-align: center;
}

a {
    text-decoration: none;
    width: fit-content;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}

.hot-offer {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    a {
        color: #1d1d1d;
        margin: auto;
    }
}

.pizza-item {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.all-products {
    display: block;
    margin: 10px auto 40px;
    padding: 10px 20px;
    width: fit-content;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: #ff8100;
    border: 1px solid #1d1d1d;
    transition: all ease 0.5s;

    &:hover {
        background: #fffcf5;
        color: #ffda84;
        border: 0.5px solid #332402;
    }
}

.about {
    display: grid;
    grid-template-columns: 50% 10% 2% 38%;
    grid-template-rows: 66% 23% 10%;
    width: 96%;
    margin: auto;

    .about-image {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .text {
        display: flex;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .extra-info {
        display: flex;
        justify-content: space-evenly;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        background: #ffa808;
        color: #fffcf5;
        z-index: 1;

        .left, .right {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            width: 40%;
            justify-content: center;
            align-items: center;

            span:nth-child(1) {
                font-size: 16px;
                color: black;
            }

            span:nth-child(2) {
                font-size: 70px;
            }
        }
    }
}

.testimonials {
    display: grid;
    grid-template-columns: 50% 50%;
    max-height: 700px;
    background-color: #ffc354;

    .testimonials-container {
        width: 70%;
        margin: auto;
        overflow: hidden;
    }
}

/* mobile */

@media screen and (max-width: 980px) {
    
    h1 {
        font-size: 36px;
        padding: 0 5vw;
        line-height: normal;
        margin-top: 10vw;
    }

    h2 {
        padding: 0 5vw;
    }

    .hot-offer {
        grid-template-columns: repeat(2, 1fr);      
    }
}

@media screen and (max-width: 834px) {
    
    .testimonials {
        grid-template-columns: 100%;
        grid-template-rows: max-content 60vw;
    
        .testimonials-container {
            width: 70%;
            margin: auto;
            overflow: hidden;
        }
    }
}

@media screen and (max-width: 780px) {
    
    .about {
        grid-template-columns: 100%;
        grid-template-rows: 60vw auto auto;
    
        .about-image {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
        }
    
        .text {
            display: flex;
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 3;
            width: 80%;
            margin: 30px auto;
        }
    
        .extra-info {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 3;
            grid-row-end: 4;
            padding: 20px 0;
        }
    }
}

@media screen and (max-width: 570px) {

    .hot-offer {
        grid-template-columns: repeat(1, 1fr);      
    }

    .about {

        .extra-info {

            .left, .right {
                width: 45%;
                
                span:nth-child(2) {
                    font-size: 50px;
                }
            }

        }

    }
}

