.h1 {
    margin-top: 80px;
}

.container {
    width: 1200px;
    margin: auto;
    position: relative;
}


/* menu page */

.menuContainer {
    display: grid;
    grid-template-columns: 70% 30%;
}

.products {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    h3, h4 {
        margin: 0;
    }
}

.product-image {
    width: 80%;
    position: relative;
    cursor: pointer;

    .bag-background {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: white;
        height: 50px;
        width: 50px;
        text-align: center;
        padding: 5px 0;
        opacity: 0;
        transition: all ease 0.5s;
        cursor: pointer;

        img {
            height: 40px;
        }
    }
}

.product-image:hover {

    .bag-background {
        opacity: 1;
        transition: all ease 0.5s;


    }
}

.info {
    position: sticky;
    top: 70px;
    height: 500px;
    background: white;

    li {
        list-style: none;
    }
}


/* end of menu page */
