.header {
    height: 800px;
    width: 100%;
    background: yellow;
    padding-top: 130px;
}

.header-container {
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 46% 25%;
    gap: 2%;
}

.header-motto, .header-pizza-name {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    align-self: center;
}